[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Chromium
Comment=Installed via Puppeteer 1.7.0-5
Exec=/usr/lib/node_modules/puppeteer/.local-chromium/linux-579032/chrome-linux/chrome-wrapper %U
Terminal=false
Icon=/usr/lib/node_modules/puppeteer/.local-chromium/linux-579032/chrome-linux/product_logo_48.png
Type=Application
Categories=Application;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;
X-XFCE-Source=file:///usr/share/applications/chromium.desktop
