[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=MailReader
X-XFCE-CommandsWithParameter=bluhu "%s"
Icon=bluhu
Name=bluhu
X-XFCE-Commands=bluhu

